body {
	background-color: lightgray;
}

button {
	background-color: #696969;
	color: #DCDCDC;
	width: 60px;
	border: 2px solid black;
	border-radius: 5px;
}

#dash {
	background-color: cornsilk;
	border: 5px solid black;
	border-radius: 10px;
}

#top {
	display: flex;
	justify-content: space-between;
	padding-right: 5px;
	border-bottom: 2px solid black;
}

#logo {
	height: 38px;
	width: 130px;
}

#phases {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	border-bottom: 2px solid black;
}

.phase {
	padding: 5px;
	border-radius: 3px;
}

#div2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 99%;
	margin: 0 auto;
}

#msgDiv {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 25%;
	padding: 0px 3px 0px 3px;
}

#message {
	text-align: center;
	font-size: 15px;
}

#mana {
	width: 50%;
	padding: 0px 3px 0px 3px;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#manaPool {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#manaReq {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mana {
	width: 30px;
	height: 30px;
}

.manaCount {
	width: 25px;
}

#switchPlayers {
	display: flex;
	width: 25%;
	justify-content: space-around;
	align-items: center;
	padding: 0px 3px 0px 3px;
}

#welcome {
	background-color: cornsilk;
	text-align: center;
	border: 5px solid black;
	border-radius: 10px;
}

#handDisplay {
	display: flex;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

#hideHand {
	display: flex;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#battlefield {
	
}

#inactiveLandsDisplay, #inactiveCreaturesDisplay, #activeCreaturesDisplay, #activeLandsDisplay {
	display: flex;
	justify-content: center;
	height: 120px;
}

#inactiveCreaturesDisplay {
	border-bottom: 2px solid black;
}

.card {
	width: 80px;
	height: 112px;
	padding: 2px;
}