body {
	background-color: lightgray;
	border: 1px solid red;
}

#top {
	display: flex;
	justify-content: space-between;
	border: 1px solid orange;
}

#logo {
	height: 38px;
	width: 130px;
}

#phases {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	border: 1px solid #00AA00;
}

#div2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	border: 1px solid blue;
}

#message {
	text-align: center;
}

#manaPool {
	display: flex;
	align-items: center;
}

#manaReq {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.mana {
	width: 30px;
	height: 30px;
}

.manaCount {
	width: 25px;
}

#switchPlayers {
	display: flex;
	align-items: center;
}

#handDisplay {
	position: fixed;
	bottom: 10px;
	left: 10px;
	border: 1px solid cyan;
}

#battlefield {
	border: 1px solid brown;
}

.card {
	width: 99px;
	height: 139px;
}